nav {
    background: darkred;
    padding: 0.5rem;
}

nav a {
    color: white;
    display: block;
    padding: 1rem;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid white;
    padding: 2px;
    box-shadow: 0 0 30px brown;
}

h1 {
    color: darkred;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid white;
    padding: 2px;
    box-shadow: 0 0 30px;
}

p {
    padding: 10px;
}